*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0c1b;

}

.main1{
    display: flex;
    width: 78%;
    background-color: #1c1938;
    /* max-width:1008px; */
    /* min-width: 800px; */
    border-radius: 10px;
    overflow: hidden;
    height: 450px;
}
.content{
    width: 38%;
    padding: 60px 70px;
    max-width: 560px;
    color: white;
}
.image1{
    width: 50%;
    background-color:hsl(277, 99%, 31%);
    /* filter: grayscale(100%); */
    max-width: 560px;
}

img{
    width: 100%;
    height: 100%;
    filter:opacity(0.5);
    
    
    
}

h1{
    font-size: 36px;
    /* line-height: 40px; */
    margin-top: 10px;
}

h3{
    font-size: 25px;
    margin: 0;
}

.review{
    display: flex;
    /* justify-content: space-between; */
    gap: 80px;
    margin-top: 60px;
}

.mini-para{
    margin-top: 30px;
    font-size: 16px;
    line-height: 28px;
}

.htag{
    color: hsl(277, 64%, 61%);
}

 .template{
    font-size: 10px;
    margin: 0;
} 

@media(max-width:835px){
    .main1{
        display: flex;
        flex-wrap: wrap-reverse;
        width: 80%;
        margin: 30px 30px;
        height: 100%;
        text-align: center;
        
    }
    .review{
        flex-direction: column;
    }
   

    .content{
        width: 100%;
    }

    .image1{
        width: 100%;
        height:auto;
    }

    img{
        width: 100%;
        height: 100%;
    }

    .container{
        height: 100%;
        /* width: 100vw; */
        /* display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0a0c1b; */
    
    }

    h1{
        font-size: 20px;
    }

   

 
}